@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* EVE Dark Tactical Aesthetics */
.tactical-border {
  border: 1px solid rgba(196, 160, 0, 0.2);
}

.neural-weave {
  background-image: linear-gradient(rgba(18, 18, 18, 0.8) 1px, transparent 1px),
    linear-gradient(90deg, rgba(18, 18, 18, 0.8) 1px, transparent 1px);
  background-size: 25px 25px;
}
